.hero {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 270px;
    gap: 20px;
    justify-content: baseline;
    /* border: 1px solid red; */
  }
  .hero_left {
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
  }
  
  @media (max-width: 600px) {
    .hero {
      flex-direction: column-reverse;
      height: 220px;
      gap: 10px;
    }
    .hero img {
      width: 130px;
      height: 130px;
    }
    .hero h3 {
      font-size: 20px;
    }
  }
  
  @media (min-width: 601px) and (max-width: 850px) {
    .hero h3 {
      font-size: 20px;
    }
    .hero div {
      margin-left: 20px;
    }
  }
  