.hero{
    background-color: var(--color-black,#000);
    height: 270px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap:30px;
    color: var(--color-white,#fff);

}